@import "variables.scss";

html, body {
    font-family: $font-family;
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;

        &:hover {
            color: $blue;
        }
    }

    ul {
        list-style: none;
    }
}

/******************
* Landing Page
* ****************/
header {
    position: relative;
    height: 70vh;

    .header-bg {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: $gradient;
        transform: skewY(7deg);
        transform-origin: top right;
    }

    nav {
        float: right;
        margin-right: 100px;
        margin-top: 10px;

        ul li {
            display: inline-block;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }

            a {
                color: $white;
                font-size: $font-md;
            }
        }
    }

    .phone-mock {
        display: inline-block;
        position: absolute;
        top: 50px;
        margin-left: 100px;

        img {
            width: 40%;
        }
    }

    .header-text {
        display: inline-block;
        position: absolute;
        top: 150px;
        margin-left: 700px;
        font-size: $font-hero;
        font-weight: bold;
        color: $white;
    }
}

/*************************
* Main Page Framework
* ***********************/
.gradient {
    background: $gradient fixed;
}

.card {
    background: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 550px;
    width: 640px;
    border-radius: 5%;
    box-shadow: $box-shadow;
    padding: 30px 50px;

    .card-header-text {
        h1, h2 {
            margin: 0;
            padding: 0;
        }

        h1 {
            font-size: $font-xl;
            margin-bottom: 5px;
        }

        h2 {
            font-size: $font-lg;
            color: $dark-grey;
        }
    }

    .form-container {
        margin-top: 15%;

        .input-group {
            input {
                width: 95%;
                border: 0;
                border-bottom: solid 1px $grey;
                padding: 7px 0;
                font-size: $font-sm;

                &:not(:first-of-type) {
                    margin-top: 30px;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }

    button {
        margin-top: 150px;
        width: 200px;
        height: 40px;
        background: $blue;
        border: none;
        border-radius: 30px;
        color: $white;
        font-size: $font-sm;
        box-shadow: $button-shadow;

        &:hover {
            box-shadow: $hover-shadow;
        }
    }
}

#signup.card button {
    margin-top: 100px;
}