@import "variables.scss";

html, body {
    font-family: $font-family;
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;

        &:hover {
            // text-decoration: underline;
            color: $blue;
        }
    }

    ul {
        list-style: none;
    }
}

header {
    position: relative;
    height: 70vh;

    .header-bg {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: $gradient;
        transform: skewY(7deg);
        transform-origin: top right;
    }

    nav {
        float: right;
        margin-right: 100px;
        margin-top: 10px;

        ul li {
            display: inline-block;
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }

            a {
                color: $white;
                font-size: $font-md;
            }
        }
    }

    .phone-mock {
        display: inline-block;
        position: absolute;
        top: 50px;
        margin-left: 100px;

        img {
            width: 40%;
        }
    }

    .header-text {
        display: inline-block;
        position: absolute;
        top: 150px;
        margin-left: 700px;
        font-size: 80px;
        font-weight: bold;
        color: $white;
    }
}
