$font-family: 'Nunito', sans-serif;
$font-hero: 90px;
$font-sm: 20px;
$font-md: 25px;
$font-lg: 35px;
$font-xl: 45px;
$gradient: linear-gradient(105deg, #9795F0, #C7AEE3, #FBC8D4);
$box-shadow: 0 0 80px rgba(0, 0, 0, .43);
$button-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$hover-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$white: #fff;
$blue: #7165E2;
$grey: #D8D8D8;
$dark-grey: #908C8C;